<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Odoo Category"
            id="de.ovgu.featureide.code.odoo.commands.OdooCategory">
      </category>
      <command
            name="Odoo Command"
            categoryId="de.ovgu.featureide.code.odoo.commands.OdooCategory"
            id="de.ovgu.featureide.code.odoo.commands.OdooCommand">
      </command>
      <category
            name="ConfigurationWizard Category"
            id="de.ovgu.featureide.code.odoo.commands.CWCategory">
      </category>
      <command
            name="ConfigurationWizard Command"
            categoryId="de.ovgu.featureide.code.odoo.commands.CWCategory"
            id="de.ovgu.featureide.code.odoo.commands.CWCommand">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.ovgu.featureide.code.odoo.handler.OdooHandler"
            commandId="de.ovgu.featureide.code.odoo.commands.OdooCommand">
      </handler>
      <handler
            class="de.ovgu.featureide.code.odoo.handler.CWHandler"
            commandId="de.ovgu.featureide.code.odoo.commands.CWCommand">
      </handler>
   </extension>
   
    <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.ovgu.featureide.code.odoo.commands.OdooCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="de.ovgu.featureide.code.odoo.commands.CWCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.ovgu.featureide.code.odoo.toolbars.sampleToolbar">
            <command
                  commandId="de.ovgu.featureide.code.odoo.commands.OdooCommand"
                  icon="icons/odooIcon.gif"
                  tooltip="Generate FeatureModel for Odoo"
                  id="de.ovgu.featureide.code.odoo.toolbars.sampleCommand">
            </command>
            <command
                  commandId="de.ovgu.featureide.code.odoo.commands.CWCommand"
                  icon="icons/odooIcon.gif"
                  tooltip="ConfigurationWizard"
                  id="de.ovgu.featureide.code.odoo.toolbars.CWsampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
